.alert {
  padding: 10px;
  border: 1px solid red;
  background-color: lightpink
}

.notice {
  padding: 10px;
  border: 1px solid blue;
  background-color: lightblue
}

.pull-right {
  float: right;
}